.FullRow
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #949270;
    padding-left: 2%;
    padding-right: 5%;
}
.container{
    display:flex; /*changes the container into a flex box*/
	flex-wrap:wrap; /*wrap, nowrap, wrap-reverse*/
	flex-direction:row; /*row, row-reverse, column, column-reverse*/
	align-content:flex-start; /*flex-start, flex-end, center, stretch, space-between, space around*/
	align-items:stretch; /*flex-end, center, stretch, baseline*/
}
.clickLinks{
    background: none;
	color: inherit;
	border: none;
	padding: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    &:hover {
        color: #534C6E;
    }
}
.home{
    font-family: Caraque Regular Melted, cursive; 
}
.half-page-left{
    justify-content: flex-start;
    width: 56%;
    padding: 2%;
    margin: 2%;
    .half-page-right{
        justify-content: flex-end;
    }

}
.songs-that-match{
    font-family: Cooper Black, cursive;
    font-size: 4vw;
    text-align: left;
    padding-top: 6vw;
}

.NavLinks{
    display: flex;
    font-family: Caraque Regular Melted, cursive;
    font-size: 1.5vw;
}

.navPlaceHolder{
    display: flex;
}

