.song-container{
    display:flex; /*changes the container into a flex box*/
	flex-wrap:wrap; /*wrap, nowrap, wrap-reverse*/
	flex-direction:row; /*row, row-reverse, column, column-reverse*/
	align-content:flex-start; /*flex-start, flex-end, center, stretch, space-between, space around*/
	align-items:center; /*flex-end, center, stretch, baseline*/
    justify-content: center;
    width: 100%;
    text-align: center;
}


.music-player{
    display: flex;
    height: 50%;
    text-align: center;
    margin: 2vw;
    margin-top: 2vw;
    background-color: #949270;
    border-radius: 43px;
    align-items: center;
    justify-content: center;
    .music-player-album{
        display: row;
        max-width: 20%;
        max-height: 20%;
        margin: 1vw;
        border-radius: 24px;
    }
    .music-player-controls{
        display: row;
        width: 95%;
        max-height: 90%;
        margin: 1vw;
        border-radius: 43px;
        background-color: #EDD8C5;
    }

    .music-player-detail-header{
        font-family: Caraque Bold Solid, cursive;
        text-align: left;
        font-size: 36px;
        margin: 1vw;
    }
    .music-player-details-text{
        font-family: Caraque Regular Melted, cursive;
        font-size: 20px;
        text-align: left;
        margin: 1vw;
        margin-top: 1.6vw;
    }
    .music-player-button{
        height: 50px;
        width: 134px;
        border-radius: 18px;
        float: left;
        margin: 1vw;
    }
}
.img-inside-button{
    width: 20%;
    margin-left: 1vw;
}
