body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Caraque Regular Melted';
  src: local('caraque'), url(../src/fonts/Trial_caraque/TrialStaticFonts/Caraque_Trial_RgMelted.ttf) format('truetype');
}
@font-face {
  font-family: 'Caraque Bold Solid';
  src: local('craque'), url(../src/fonts/Trial_caraque/TrialStaticFonts/Caraque_Trial_BdSolid.ttf) format('truetype');
}

@font-face {
  font-family: 'Cooper Black';
  src: local('cooper black'), url(../src/fonts/Cooper_Black_Regular/Cooper_Black_Regular.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
